@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "open sans", sans-serif;
}
:root {
  --black: black;
  --white: white;
  --purple: rgb(94, 42, 94);
  --orange: orange;
  --grey: #8e8c8c;
  --magenta: magenta;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  display: inline-block;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
}

.column {
  display: grid;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  align-items: center;
  gap: 10px;
  padding: 15px, 0;
  justify-content: space-between;
}

nav ul {
  align-items: center;
  gap: 40px;
}

.logo {
  fill: var(--black);
}
nav a {
  font-size: 18px;
  color: var(--grey);
}

nav li:nth-child(4) a {
  color: var(--magenta);
}

.hero-container {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  padding: 60px;
}
.hero-container {
  max-width: 100%;
}

.hero-container h6 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--magenta);
  margin-bottom: 20px;
}

.hero-container h1 {
  font-weight: 800;
  font-size: 60px;
  color: var(--black);
}
.hero-container p {
  font-size: 20px;
  color: var(--grey);
  padding: 10px;
}

.hero-container a {
  font-size: 18px;
  color: black;
  border: 3px solid rgb(230, 154, 23);
  padding: 10px 20px;
  border-radius: 100px;
  margin-top: 30px;
}

.orange-container {
}

.orange-container-text {
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
  background-image: url(background.svg);
  background-position: center;
  background-size: cover;
  margin-left: 40px;
  margin-right: 40px;
  padding: 80px;
  border-radius: 15px;
  margin-bottom: 50px;
}
.orange-container-text h3 {
  font-size: 40px;
  margin-top: 60px;
}

.orange-container-text p {
  font-size: 15px;
  margin-top: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 60px;
}

.auction-container h2 {
  font-weight: 500;
  font-size: 30px;
  color: var(--black);
  margin-bottom: 20px;
}
.auction-container p {
  font-size: 15px;
  color: var(--grey);
  margin-bottom: 40px;
}
.auction-container p a {
  text-decoration: underline;
}

.nft-cards {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px;
}

.card-text {
  display: flex;
  justify-content: space-between;
  background-color: #f0eeee;
  border-radius: 5px;
  padding: 20px;
}
.left {
  text-align: start;
}

.right {
  text-align: end;
}

.left h6 {
  color: var(--orange);
}
.card-text h5 {
  color: black;
  font-size: 17px;
}

.card-text p {
  color: var(--grey);
  font-size: 12px;
}
.right h6 {
  color: var(--grey);
  font-size: 12px;
}
.row img {
  margin-right: 10px;
}

.hero-container2 {
  display: flex;
  align-items: center;
  background-color: rgb(245, 252, 252);
  background-size: 80%;
  margin: 40px 40px;
}
.hero-container2 {
  max-width: 100%;
}

.hero-container2 h6 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--magenta);
  margin-bottom: 20px;
}

.hero-container2 h1 {
  font-weight: 800;
  font-size: 60px;
  color: var(--black);
}
.hero-container2 p {
  font-size: 20px;
  color: var(--grey);
  padding: 10px;
}

.hero-container2 a {
  font-size: 18px;
  color: black;
  border: 3px solid rgb(230, 154, 23);
  padding: 10px 20px;
  border-radius: 100px;
  margin-top: 30px;
}

.hero-container2 .green-img {
  display: flex;
  padding: 0px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.footer-text a {
  display: flex;
  margin: 30px 30px 20px 30px;
}

.footer-text p {
  margin-left: 25px;
  color: var(--grey);
  font-size: 20px;
}

.social-media-container {
  display: flex;
  max-width: 1%;
  max-height: auto;
  margin-top: 10px;
  margin-left: 30px;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.footer-links-container ul {
}
.copy-right {
  margin-top: 50px;
  color: var(--grey);
  font-size: 12px;
  text-align: left;
}

.last {
  color: var(--grey);
  font-size: 12px;
  text-align: right;
}

@media only screen and (min-width: 370px) {
  .hamburger {
    display: none;
  }
  header ul {
    display: flex;
  }
  .hero {
    flex-direction: row;
  }
  .hero-img {
    order: 1;
  }
}
